# Day 3 – Pandas Basics

In [1]:
import pandas as pd

## Task 1 – Load and inspect data

### 1.1 Load the IMDb Top 250 Movies dataset into a Pandas DataFrame.

In [2]:
movies = pd.read_csv('../data/IMDB_processed_data.csv')

### 1.2 Display the first 10 rows.

In [3]:
movies.head(10)

,Rank,Title,Release,Runtime,Rated,Ratings
0,1,The Shawshank Redemption,1994,2h 22m,R,9.3
1,2,The Godfather,1972,2h 55m,R,9.2
2,3,The Dark Knight,2008,2h 32m,PG-13,9.0
3,4,The Godfather Part II,1974,3h 22m,R,9.0
4,5,12 Angry Men,1957,1h 36m,Approved,9.0
5,6,The Lord of the Rings: The Return of the King,2003,3h 21m,PG-13,9.0
6,7,Schindler's List,1993,3h 15m,R,9.0
7,8,Pulp Fiction,1994,2h 34m,R,8.9
8,9,The Lord of the Rings: The Fellowship of the Ring,2001,2h 58m,PG-13,8.9
9,10,"The Good, the Bad and the Ugly",1966,2h 58m,R,8.8

### 1.3 Show the number of rows and columns (.shape).

In [4]:
print(f"Number of rows: {movies.shape[0]}, Number of columns: {movies.shape[1]}")

Number of rows: 250, Number of columns: 6

### 1.4 Print the column names and their data types (.dtypes).

In [5]:
movies.dtypes

Rank         int64
Title       object
Release      int64
Runtime     object
Rated       object
Ratings    float64
dtype: object

### 1.5 Show basic descriptive statistics with .describe().

In [6]:
movies.describe()

             Rank     Release     Ratings
count  250.000000   250.00000  250.000000
mean   125.500000  1988.17200    8.310000
std     72.312977    25.59631    0.232716
min      1.000000  1921.00000    8.000000
25%     63.250000  1971.25000    8.100000
50%    125.500000  1995.00000    8.200000
75%    187.750000  2008.75000    8.400000
max    250.000000  2024.00000    9.300000

In [7]:
movies.describe(include="object")

                           Title Runtime Rated
count                        250     250   250
unique                       250     100     8
top     The Shawshank Redemption  2h 10m     R
freq                           1      10   101

## Task 2 – Selecting columns

### 2.1 Select the Title column as a Series.

In [8]:
movies['Title']

0       The Shawshank Redemption
1                  The Godfather
2                The Dark Knight
3          The Godfather Part II
4                   12 Angry Men
                 ...
245                Amores Perros
246                     The Help
247                      Rebecca
248    A Silent Voice: The Movie
249                    Andhadhun
Name: Title, Length: 250, dtype: object

### 2.2 Select the Title and Ratings columns as a DataFrame.

In [9]:
movies[['Title', 'Ratings']]

                         Title  Ratings
0     The Shawshank Redemption      9.3
1                The Godfather      9.2
2              The Dark Knight      9.0
3        The Godfather Part II      9.0
4                 12 Angry Men      9.0
..                         ...      ...
245              Amores Perros      8.0
246                   The Help      8.1
247                    Rebecca      8.1
248  A Silent Voice: The Movie      8.1
249                  Andhadhun      8.2

[250 rows x 2 columns]


### 2.3 Show the first 15 movie titles only.

In [10]:
movies['Title'].head(15)

0                              The Shawshank Redemption
1                                         The Godfather
2                                       The Dark Knight
3                                 The Godfather Part II
4                                          12 Angry Men
5         The Lord of the Rings: The Return of the King
6                                      Schindler's List
7                                          Pulp Fiction
8     The Lord of the Rings: The Fellowship of the Ring
9                        The Good, the Bad and the Ugly
10                                         Forrest Gump
11                The Lord of the Rings: The Two Towers
12                                           Fight Club
13                                            Inception
14       Star Wars: Episode V - The Empire Strikes Back
Name: Title, dtype: object

## Task 3 – Filtering rows

### 3.1 Select all movies with a rating greater than 9.0.

In [11]:
movies[movies['Ratings'] > 9.0]

   Rank                     Title  Release Runtime Rated  Ratings
0     1  The Shawshank Redemption     1994  2h 22m     R      9.3
1     2             The Godfather     1972  2h 55m     R      9.2

### 3.2 Select all movies released before the year 2000.

In [12]:
movies[movies['Release'] < 2000]

     Rank                     Title  Release Runtime      Rated  Ratings
0       1  The Shawshank Redemption     1994  2h 22m          R      9.3
1       2             The Godfather     1972  2h 55m          R      9.2
3       4     The Godfather Part II     1974  3h 22m          R      9.0
4       5              12 Angry Men     1957  1h 36m   Approved      9.0
6       7          Schindler's List     1993  3h 15m          R      9.0
..    ...                       ...      ...     ...        ...      ...
240   241     The Battle of Algiers     1966   2h 1m  Not Rated      8.1
242   243       The Grapes of Wrath     1940   2h 9m   Approved      8.1
243   244             Groundhog Day     1993  1h 41m         PG      8.0
244   245             A Man Escaped     1956  1h 41m  Not Rated      8.2
247   248                   Rebecca     1940  2h 10m   Approved      8.1

[145 rows x 6 columns]

### 3.3 Select movies longer than 180 minutes.

In [13]:
movies_clean = movies.copy()
movies_clean['Runtime_Minutes'] = (
    movies_clean['Runtime']
    .str.extract(r'(?:(\d+)h)?\s?(?:(\d+)m)?')
    .fillna(0)
    .astype(int)
    .pipe(lambda df: df[0]*60 + df[1])
)

movies_clean[movies_clean['Runtime_Minutes'] > 180]

,Rank,Title,Release,Runtime,Rated,Ratings,Runtime_Minutes
3,4,The Godfather Part II,1974,3h 22m,R,9.0,202
5,6,The Lord of the Rings: The Return of the King,2003,3h 21m,PG-13,9.0,201
6,7,Schindler's List,1993,3h 15m,R,9.0,195
21,22,Seven Samurai,1954,3h 27m,Not Rated,8.6,207
25,26,The Green Mile,1999,3h 9m,R,8.6,189
74,75,Avengers: Endgame,2019,3h 1m,PG-13,8.4,181
86,87,Once Upon a Time in America,1984,3h 49m,R,8.3,229
99,100,Lawrence of Arabia,1962,3h 47m,PG,8.3,227
162,163,Gone with the Wind,1939,3h 58m,G,8.2,238
182,183,Ben-Hur,1959,3h 32m,G,8.1,212
184,185,Barry Lyndon,1975,3h 5m,PG,8.1,185
201,202,The Deer Hunter,1978,3h 3m,R,8.1,183

### 3.4 Select movies that are both rated above 8.5 and released after 2010.

In [14]:
movies[(movies['Ratings'] > 8.5) & (movies['Release'] > 2010)]

,Rank,Title,Release,Runtime,Rated,Ratings
18,19,Interstellar,2014,2h 49m,PG-13,8.7
65,66,12th Fail,2023,2h 27m,Not Rated,8.8
210,211,Demon Slayer: Kimetsu no Yaiba - Tsuzumi Mansi...,2021,1h 27m,Not Rated,8.6
224,225,Jai Bhim,2021,2h 44m,Approved,8.7

## Task 4 – Indexing

### 4.1 Select the movie at index 50 using .iloc.

In [15]:
movies.iloc[50]

Rank                51
Title      Rear Window
Release           1954
Runtime         1h 52m
Rated               PG
Ratings            8.5
Name: 50, dtype: object

### 4.2 Select the movie ranked #1 using .loc.

In [16]:
movies.loc[movies['Rank'] == 1]

   Rank                     Title  Release Runtime Rated  Ratings
0     1  The Shawshank Redemption     1994  2h 22m     R      9.3

### 4.3 Select the Title and Ratings for movies ranked between 10 and 20.

In [17]:
movies.loc[movies['Rank'].between(10, 20), ['Title', 'Ratings']]

                                             Title  Ratings
9                   The Good, the Bad and the Ugly      8.8
10                                    Forrest Gump      8.8
11           The Lord of the Rings: The Two Towers      8.8
12                                      Fight Club      8.8
13                                       Inception      8.8
14  Star Wars: Episode V - The Empire Strikes Back      8.7
15                                      The Matrix      8.7
16                                      Goodfellas      8.7
17                 One Flew Over the Cuckoo's Nest      8.7
18                                    Interstellar      8.7
19                                           Se7en      8.6

## Task 5 – Basic analysis

### 5.1 Calculate the average movie rating.

In [18]:
print(f"The average movie rating is {movies['Ratings'].mean():.2f}")

The average movie rating is 8.31

### 5.2 Find the median runtime.

In [19]:
runtime_median = movies_clean['Runtime_Minutes'].median()

hours = int(runtime_median // 60)
minutes = round(runtime_median % 60)

print(f"The median runtime is {hours}h {minutes}m")

The median runtime is 2h 8m

### 5.3 Count how many movies belong to each rating category.

In [20]:
movies['Ratings'].value_counts()

Ratings
8.1    73
8.2    51
8.3    41
8.5    24
8.4    24
8.6    13
8.8     6
8.7     6
9.0     5
8.0     3
8.9     2
9.3     1
9.2     1
Name: count, dtype: int64

### 5.4 Find the oldest and the newest movie in the dataset.

In [21]:
movies.agg(oldest=('Release', 'min'),
           newest=('Release', 'max'))

        Release
oldest     1921
newest     2024

## Task 6 – Grouping and aggregation

### 6.1 Find the average rating by release decade (e.g., 1970s, 1980s, etc.).

In [22]:

movies_clean['Decade'] = (
    movies['Release']
    .pipe(lambda df: df//10 * 10)
    .astype(str)
    .pipe(lambda df: df + 's'))
movies_clean.groupby(by='Decade').size()

Decade
1920s     6
1930s     6
1940s    12
1950s    22
1960s    16
1970s    17
1980s    26
1990s    40
2000s    48
2010s    45
2020s    12
dtype: int64

### 6.2 Find the longest movie in each decade.

In [23]:
movies_clean.loc[
    movies_clean.groupby('Decade')['Runtime_Minutes'].idxmax(),
    ['Decade', 'Title', 'Runtime_Minutes']
]

    Decade                                          Title  Runtime_Minutes
119  1920s                                     Metropolis              153
162  1930s                             Gone with the Wind              238
226  1940s                    The Best Years of Our Lives              170
182  1950s                                        Ben-Hur              212
99   1960s                             Lawrence of Arabia              227
3    1970s                          The Godfather Part II              202
86   1980s                    Once Upon a Time in America              229
6    1990s                               Schindler's List              195
5    2000s  The Lord of the Rings: The Return of the King              201
74   2010s                              Avengers: Endgame              181
111  2020s                                    Oppenheimer              180

### 6.3 Find the top 5 movies with the highest ratings in the 21st century (2000+).

In [24]:
movies_clean[movies_clean['Release'] >= 2000].sort_values(by='Ratings', ascending=False).head()

,Rank,Title,Release,Runtime,Rated,Ratings,Runtime_Minutes,Decade
2,3,The Dark Knight,2008,2h 32m,PG-13,9.0,152,2000s
5,6,The Lord of the Rings: The Return of the King,2003,3h 21m,PG-13,9.0,201,2000s
8,9,The Lord of the Rings: The Fellowship of the Ring,2001,2h 58m,PG-13,8.9,178,2000s
11,12,The Lord of the Rings: The Two Towers,2002,2h 59m,PG-13,8.8,179,2000s
13,14,Inception,2010,2h 28m,PG-13,8.8,148,2010s

## Task 7 – Small challenge

### 7.1 Create a new column Runtime_Hours that stores runtime in hours (rounded to 1 decimal place).

In [25]:
movies_clean =movies_clean.assign(
    Runtime_Hours = lambda df: (df['Runtime_Minutes'] / 60).round(1)
)
movies_clean.head()

,Rank,Title,Release,Runtime,Rated,Ratings,Runtime_Minutes,Decade,Runtime_Hours
0,1,The Shawshank Redemption,1994,2h 22m,R,9.3,142,1990s,2.4
1,2,The Godfather,1972,2h 55m,R,9.2,175,1970s,2.9
2,3,The Dark Knight,2008,2h 32m,PG-13,9.0,152,2000s,2.5
3,4,The Godfather Part II,1974,3h 22m,R,9.0,202,1970s,3.4
4,5,12 Angry Men,1957,1h 36m,Approved,9.0,96,1950s,1.6


### 7.2 Find the movie with the highest rating-to-runtime ratio (Ratings / Runtime).

In [26]:
movies_clean.loc[
    (movies_clean['Ratings']/movies_clean['Runtime_Hours'])
    .idxmax()
][['Title', 'Ratings', 'Runtime']]

Title      Sherlock Jr.
Ratings             8.2
Runtime             45m
Name: 200, dtype: object

### 7.3 Which rating category (Rated) has the highest average audience score?

In [27]:
movies_clean.groupby('Rated')['Ratings'].mean().sort_values(ascending=False).head(1)

Rated
PG-13    8.377143
Name: Ratings, dtype: float64